body *{
    padding:0;
    margin:0;
    /* border: 1px solid red; */
}

body, html{
    height:100vh;
}

header{
    height:10vh;
}

#contents{
    height:90vh;
    padding:1vh;
    font-size: 3vh;
}

#title>h1{
    text-align: center;
    color:white;
}

ul{
    display:flex;
    list-style-type: none;
}

li{
    padding:1%;
    margin:1% auto;
}

li > a{
    text-decoration: none;
    color:crimson;
    font-size:2vh;
}

li a:hover{
    color:black;
}
